[run]
branch = True
source =
    pyriemann

[report]
omit =
    */python?.?/*
    */site-packages/*
    */setup.py
    */tests/*
    */examples/*
    */.venv/*
show_missing = True

[html]
directory = htmlcov

[xml]
output = coverage.xml