language: python
python:
  - "2.7"
  - "3.5"
# command to install dependencies\
cache: pip
sudo: false
virtualenv:
  system_site_packages: true
addons:
  apt:
    packages:
      - python-scipy
      - python-numpy
      - libatlas-dev
      - libatlas3gf-base
      - libblas-dev
      - liblapack-dev
      - python-matplotlib
      - python-pandas
      - gfortran
      - python-tk
install:
  - virtualenv --system-site-packages testvenv
  - source testvenv/bin/activate
  - pip install pip --upgrade
  - pip install coverage python-coveralls nose scikit-learn
  - python setup.py build install
# command to run tests
script: nosetests  --with-coverage --cover-package=pyriemann
after_success:
  - deactivate
  - pip install python-coveralls --upgrade
  - coveralls
